
<div class="stuff">
  <video class="live" autoplay loop>
<source src="../videos/live.mp4" type="video/mp4">
</video>

<div class="textover">
<p>Connecting musicians and venues in Miami</p>
</div>



<ul class="nshow">
<li>           <p class="what"> Next Event </p><p class="musicp">Music Party</p></li>
<li>           <p class="date">Date</p> <p class="actuald">July 4</p></li>
<li>           <p class="time">Time</p> <p class= "actualt">7:30PM</p></li>

<li>          <button class= "button">Learn More</button>
              <button class="button2">Buy Tickets</button></li>
</ul>
<div>

<p class="summ">Celebrate the power of music</p>
<br>
<br>

<p class="summajor"> WITH AN INFECTIOUS LOVE OF SONG AND AN INVITING SPIRIT,
sceneMiami. BREAKS DOWN THE BARRIERS BETWEEN PERFORMERS AND VENUES TO
CELEBRATE THE INCREDIBLE POWER OF MUSIC AND BRING PEOPLE TOGETHER.</p>

</div>
