
<div class="stuff">
  <video class="live" autoplay loop>
<source src="/videoz/live.mp4" type="video/mp4">
</video>

<div class="textover">
<p>Connecting musicians and venues in Miami</p>
</div>



<ul class="nshow">
<li>           <p class="what"> next event </p><p class="musicp">music party</p></li>
<li>           <p class="date">date</p> <p class="actuald">july 4</p></li>
<li>           <p class="time">time</p> <p class= "actualt">7:30pm</p></li>

<li>          <button class= "button">learn more</button>
              <button class="button2">buy tickets</button></li>
</ul>
<div class="sumall">

<p class="summ">Celebrate the power of music</p>
<br>
<br>

<p class="summajor"> With an infectious love of song and an inviting spirit, sceneMiami. breaks down the barriers between
performers and venues to celebrate the incredible power of music and bring people
together. </p>



      </div>
