<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    sceneMiami.
  </title>
  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header class="sidebar">
    <h1 class="title"> sceneMiami. </h1>

    <ul class = "top">
    <li>  <a href="/dashboard">home</a></li>
    <li>  <a href="#" data-toggle="modal" data-target="#signup-modal"> sign up </a></li>
    <li>  <a href="/my-events"> my events </a></li>
    <li> <a href="#" data-toggle="modal" data-target="#newevent-modal"> new event</a> </li>
   <li> <a href="#" data-toggle="modal" data-target="#login-modal">login</a> </li>
    <li>  <a href="/"> log out </a></li>

    <li class="horizontal">
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-youtube"></a>
    </li>
</ul>
  </header>



<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>login to your Account.</h1><br>
				  <form id="form" method="post" action="/login">
            <label class="uselabel" for="username-input"> userName </label>
            <input id="username-input" type="text" name="loginUsername">
            <br>
            <label class="usepass" for="password-input"> password </label>
            <input id="password-input" type="password" name="loginPassword">
            <br>
              <button> Log In </button>
				  </form>

				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>

      <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          	  <div class="modal-dialog">
      				<div class="loginmodal-container">
      					<h1>Create a Free Account.</h1><br>
      				  <form id="form" method="post" action="/signup">
                  <label class='uselabel'for="full-name-input"> name  </label>
                  <input id="full-name-input" type="text" name="signupFullName">
                  <br>
                  <label class='uselabel'for="username-input"> userName </label>
                  <input id="username-input" type="text" name="signupUsername">
                  <br>
                  <label  class="uselabel" for="password-input"> createPassword </label>
                  <input id="password-input" type="password" name="signupPassword">
                  <br>
                    <button> Sign In </button>
      				  </form>


      				</div>
      			</div>
      		  </div>

            <div class="modal fade" id="newevent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                    <div class="loginmodal-container">
                      <h1>create an Event.</h1><br>
                      <form id="form" method="post" action="/events">
                        <label class='uselabel'for="event-name-input"> event Name  </label>
                        <input id="event-name-input" type="text" name="eventName">
                        <br>
                        <label class='uselabel' for="event-photo-url"> event Photo </label>
                        <input id="event-photo-url" type="url" name="event-photo-url">
                        <br>
                        <label  class="uselabel" for="event-description-input"> description </label>
                        <input id="event-description-input" type="text" name="eventDescription">
                        <!-- <br>
                        <br>
                        <label  class="uselabel" for="event-description-input"> description </label>
                        <input id="event-description-input" type="text" name="eventDescription"> -->
                        <br>
                        <br>
                        <label  class="uselabel" for="event-address-input"> Address </label>
                        <input id="event-address-input"  type="text" name="eventAddress">
                        <br>

                          <button> create Event </button>
                      </form>


                    </div>
                  </div>
                  </div>



  <%- body %>
  <script src="https://code.jquery.com/jquery-3.2.1.js"
          integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
          crossorigin="anonymous">
</script>
<script src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript"></script>
<script src="javascripts/testy.js"></script>
</body>

</html>
