body {
  height:100%;
  width:100%;
}



.sidebar {
  width: 316px;
  font-family: 'Slabo 27px', serif;
  color:black;
  height:111%;
  position: fixed;
}



.title {
  font-size: 323%;
position: absolute;
left: 23px;
height:100%;

}

.top {
  list-style-type: none;
   background-color: #d6d6d6;
  text-decoration: none;
  font-family: 'Slabo 27px', serif;
  color:grey;
  font-size: 196%;
  height:79%;
  padding-top: 10px;
  width:276px;
  position: absolute;
  top:81px;
  background-image: url('/images/card.png');
}



li a {
    display: block;
    color: #000;
    padding: 15px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: #E33634;
    text-decoration: underline;
    cursor:pointer;
}

.horizontal {

      display: block;
      color: #000;
      text-decoration: none;
      font-size: 43px;
      right: 20px;
      width:150px;
    }

.horizontal a:hover {

  color: #E33634;
  text-decoration: underline;
  cursor:pointer;
}

/**/SOCIAL MEDIA BUTTONS

.social {
  list-style-type: none;
   background-color: #f1f1f1;
  text-decoration: none;
  font-family: 'Slabo 27px', serif;
  color:red;
  font-size: 164%;
  height:64%;
  padding-top: 40px;
}


.stuff {
  position: absolute;
top:-2%;
left:277px;
height:142%;
width:1000px;
}

.live {
  width:998px;
  height:566px;
  left:100px;

}

.textover {
font-family: 'Ropa Sans', sans-serif;
font-size: 73px;
position: relative;
top:-561px;
left:30px;
color:white;
font-weight: bold;
width:46%;
text-shadow: 2px 2px black;
}




.nshow {
    list-style-type: none;
    margin: 0;
    background-color: black;
    background-image: url('/images/background.png');
    height:139px;
    width:998px;
    position: absolute;
    top:564px;

}

.nshow li {
    float: left;
    height: 100px;
}

.nshow li p {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Slabo 27px', serif;
}


.time {
  position: relative;
  left:352px;
}

.date {
  position: relative;
  top:8px;
  color:red;
  font-size: 21px;
  left:-35px;
  text-shadow: 2px 2px black;
  width:202px;
  height:100px
}

.what {
  position: relative;
  top:8px;
  color:red;
  font-size: 21px;
  left:-35px;
  text-shadow: 2px 2px black;
  width:202px;
  height:100px
}

.musicp   {
  position: relative;
  top:-107px;
  color:white;
  font-size: 34px;
  border-right: 1px solid white;
  height: 132px;
  width: 202px;
  left:-35px;
  text-shadow: 2px 2px black;
  padding-top: 48px;

}

.actuald {
  position: relative;
    top:-107px;
  color:white;
  font-size: 34px;
  border-right: 1px solid white;
  height: 132px;
  width: 202px;
  left:-35px;
  text-shadow: 2px 2px black;
  padding-top: 48px;
}

.time {
  position: relative;
  top:8px;
  color:red;
  font-size: 21px;
  left:-35px;
  text-shadow: 2px 2px black;
  width:202px;
  height:100px
}

.actualt {
  position: relative;
  top:-102px;
  color:white;
  font-size: 34px;
  border-right: 1px solid white;
  height: 132px;
  width: 202px;
  left:-35px;
  text-shadow: 2px 2px black;
  padding-top: 48px;
}


.button {  position: relative;
  top:11px;
  left:-1px;
  text-shadow: 2px 2px black;
height: 44px;
    width:184px;
    background-color: #C21A18;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    font-size: 16px;

    cursor: pointer;
    display: block;
}

.button2 {  position: relative;
  top:29px;
  left:1px;
  text-shadow: 2px 2px black;
height: 44px;
    width:184px;
    background-color: #C21A18;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}


.brick {
  position: absolute;
  height: 676px;
  width: 998px;
  top:703px;
  background-color: #919191;
  background-image: url('../images/brick2bb.png');
  }


.sumback {
  position: absolute;
  height: 395px;
  width: 696px;
  top:792px;
  left:111px;
  background-color: #ffffff;
  background-image: url('../images/binding.png');
  border-radius: 7px;
}

.summ {
  position: absolute;
  top:842px;
  left:279px;
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
  color:#C21A18
}

.summajor {
  font-size: 23px;
  font-family: 'Slabo 27px', serif;
  position: absolute;
  left:273px;
  width: 400px;

}



@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: 'Slabo 27px', serif;
  background-image: url('../images/binding.png');
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 2.8em;
  font-family: 'Slabo 27px', serif;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}


.eventlist {
  width:954px;
  border: 1px solid red;
  background-color: #ffffff;
  background-image: url('../images/binding.png');
  border-radius: 6px;
  list-style-type: none;
  margin-bottom: 25px;
    margin-left: -118px;

}

.eventlist p {
    display: inline;
    font-size: 24px;
    padding-left: 60px;
}

.eventtitle {

    position: absolute;
    left: 190px;
    top:-104px;
    width: 377px;
    color: #C21A18;
    text-shadow: 2px 2px black;
    font-size: 60px;

}

.myetitle {
  position: absolute;
  left: 593px;
  top:100px;
}

.myevents {

    position: absolute;
    left: 593px;
    top:159px;
    list-style-type: none;

}

.newevent {
  position: absolute;
  left: 593px;
  top:100px;
}

.neweform {

    position: absolute;
    left: 593px;
    top:159px;

}

.modalfade {

}
.uselabel {
  font-family: 'Slabo 27px', serif;
  font-size: 23px;
  color: red;
}

.usepass {
  font-family: 'Slabo 27px', serif;
  font-size: 23px;
  color: red;
}

.eventbrick {
  background-color: #919191;
  background-image: url('../images/brick2bb.png');
  height:1000px;
  width:1004px;
  position: absolute;
  left: 276px;
}

.cont {
  position: absolute;
  top:100px;
  width:100px;
  left:100px;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

.testimonial{
    text-align: center;
    padding: 85px 50px 45px 70px;
    margin: 70px 15px 35px;
    background: #f9f9f9;
    box-shadow: 8px 4px 0 0 #77a9dd;
    position: relative;
}
.testimonial .pic{
    width: 120px;
    height: 120px;
    border: 5px solid #77a9dd;
    margin: 0 auto;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 15px;
    color: #757575;
    line-height: 27px;
    margin-bottom: 20px;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "FontAwesome";
    font-size: 32px;
    color: #77a9dd;
    position: absolute;
    top: -15px;
    left: -35px;
}
.testimonial .testimonial-profile{
    position: relative;
    margin: 20px 0 10px 0;
}
.testimonial .testimonial-profile:after{
    content: "";
    width: 50px;
    height: 2px;
    background: #77a9dd;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.testimonial .title{
    display: inline-block;
    font-size: 18px;
    color: #4a5184;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 15px;
    color: #757575;
    text-transform: capitalize;
}
.owl-theme .owl-controls{
    margin-top: 10px;
}
.owl-theme .owl-controls .owl-page span{
    background: #5e5f5f;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #77a9dd;
}
.owl-theme .owl-controls .owl-page.active span{
    width: 22px;
    height: 12px;
}



.footer {
  margin-top:30px;
}
