<h2> My Events </h2>

<ul>
  <% eventsAndStuff.forEach((oneEvent) => { %>
    <li>
      <h3> <%= oneEvent.name %> </h3>
      <p> Owner: <p> <%= oneEvent.owner %> </p> </p>
    </li>
  <% }) %>
</ul>
