<h2> Add a Event </h2>

<form method="post" action="/events">
  <label for="event-name-input"> Event Name </label>
  <input  id="event-name-input" type="text" name="eventName">
  <br>

  <label   for="event-description-input"> Description </label>
  <textarea id="event-description-input" name="eventDescription"></textarea>
  <br>

  <label for="event-photo-url"> Photo URL </label>
  <input  id="event-photo-url" type="url" name="roomPhotoUrl">
  <br>

  <button> Save This Event </button>
</form>
