<h2> Add a Event </h2>

<form method="post" action="/events">
  <label for="event-name-input"> Event Name </label>
  <input  id="event-name-input" type="text" name="eventName">
  <br>
  <br>

  <label for="event-photo-url"> Event Photo </label>
  <input  id="event-photo-url" type="url" name="eventPhotoUrl">
  <br>
  <br>


  <label   for="event-description-input"> Description </label>
  <textarea id="event-description-input" type="text" name="eventDescription"></textarea>
  <br>
  <br>

  <label for="event-Lphoto-url"> Location Photo </label>
  <input  id="event-Lphoto-url" type="url" name="LPhotoUrl">
  <br>
  <br>


  <label for="event-address-input"> Address </label>
  <textarea  id="event-address-input" type="text" name="eventAddress"></textarea>
  <br>
  <br>

  <label for="event-city-input"> City </label>
  <input  id="event-city-input" type="text" name="eventCity">
  <br>
  <br>




  <button> Save This Event </button>
</form>
